.vscode
\.mypy_cache/
docker-stack.yml
__pycache__
app.egg-info/
.coverage
htmlcov
tests-reports
poetry\.lock

\.idea/
\.pytest_cache/
\.benchmarks/

flake8\.txt

jwt_keys/
mongoengine/
fastapi_extra/

venv/
